body {
  font-family: sans-serif;
}

/* Default Table Style */
table {
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  width: 100%
}

table caption {
  padding: .5em;
}

table th {
  background-color: #00c52b;
}

table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}

table a {
  color: tomato;
}

img {
  width: 100%;
}

.nav a {
  background: #00dd30;
  color: #fff;
  padding: 10px;
  margin: 5px;
  text-decoration: none;

}

.nav a:hover {
  background: #00c52b;
}

.nav form {
  float: right;
}